audioio==2.5.0
humanize==4.12.2
ipython==8.12.3
lightning==2.5.1
matplotlib==3.10.1
numpy==2.2.4
orjson==3.10.16
rich==14.0.0
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
torch==2.6.0
torchinfo==1.8.0
typer==0.15.2
typing_extensions==4.13.2
umap_learn==0.5.7
